
  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Plane Input</title>
     <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js'></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <body>
    <script>
     var Planes = <%- JSON.stringify(Planes) %>;
     var Airports = <%- JSON.stringify(Airports)%>;

    </script>
    <form action = "/addPlane" method = "Post">

    <input type="text" name = "hexcode" placeholder="Mode S Code(hex)" id="hexcode">
    <input type="text" name = "tailNumber"placeholder="Tail Number" id="name">
    <input type="submit" id="button">
    </form>
    <form action = "/deletePlane" method = "Delete">
    <input type="submit"  value="Clear" >
    </form>
    <%# <input type="submit" value="Make Plane Status Changes" onclick = "UpdateAllPlaneStatusPost()"> %>
    <a href="/">Go to Display</a>
    
    
      <table class="table table-striped table-bordered"
    id="bootstrap_git_demo">
    <thead>
      <tr>
        <th>Mode S Code(hex)</th>
        <th>Tail Number</th>
        <th>Type</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody id ="tbodyMain">
      <tr id = "planeRow">
        <td>Element Alfa</td>
        <td>Selector A</td>
        <td><select id="select" data-lock = false onchange = "ChangeSelectedType(this)" onfocus="Focused()" onblur="DeFocus()" >
            <option value="openSky">openSky</option>
            <option value="FlightXML">FlightXML</option>
            <option value="Not Live">Not Live</option>
   
</select></td>
        <td>
          <button title="" type="button"
            class="btn btn-danger remove show_tip"
            data-original-title="Remove from list" onclick="trashClick(this)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
      

    </tbody>

  </table>


    </table>

    <style>
      body {
        max-width: 700px;
        margin: auto;
        margin-top: 50px;
      }
      body {
     transform: scale(1.8);
     transform-origin: 0 0;
     
      }
      </style>

  
</body>
    
    <script type="text/javascript" src="TableManager.js"></script>
    <script type = "text/javascript" src = "socket.js"></script>


  </body>
  <style>
    body {
      max-width: 700px;
      margin: auto;
      margin-top: 50px;
    }
    body {
   transform: scale(1.8);
   transform-origin: 0 0;
   
    }
    </style>
</html>